@import "../../units/colors/utils";
@import "../../units/typography/utils";

.personal-area{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: $typography-text-medium;
  line-height: 30px;
  color:$color-text-primary;
  display:flex;

  @include mobile{
    flex-wrap: wrap;
  }

  @include tablet{
    margin-left: auto;
    justify-content: flex-end;
  }
}

.personal-area__profile{


  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile{
    flex-basis:100%;
    margin: 10px 0;
  }

  @include tablet{
    margin-right: 30px;
    min-width: 193px;
    justify-content: flex-start;
  }

  @include desktop{
    margin-right: auto;
  }
}

.personal-area__profile-img{
  display: inline-block;
  margin-right: 10px;
  width:13px;
  height: 12px;
  background-image: url("../icons/user.svg");
}

.personal-area__compare-img{
  display: inline-block;
  margin-right: 10px;
  width:10px;
  height: 10px;
  background-image: url("../icons/compare.svg");
}

.personal-area__cart-img{
  display: inline-block;
  margin-right: 10px;
  width:12px;
  height: 12px;
  background-image: url("../icons/cart.svg");
}

.personal-area__name{
  color:$color-text-primary;
  margin-right: 20px;
}

.personal-area__name:hover{
  opacity: 0.6;
}

.personal-area__name:active{
  opacity: 0.3;
}

.personal-area__button{
  font-weight: 100;
  cursor: pointer;
  padding:0;
  border:none;
  background-color: transparent;
  outline: none;
}

.personal-area__button--session{
  align-self: stretch;
}

.personal-area__button-posibilities{
  @include mobile{
    flex-basis: 50%;
  }

  @include tablet{
    margin-right: 20px;
  }

  @include desktop{
    margin-right: 40px;
  }

}

.personal-area__button:last-child{
  @include tablet{
    margin-right: 0;
  }

}

.personal-area__button:hover{
  opacity: 0.6;
}

.personal-area__button:active{
  opacity: 0.3;
}
