@import "../../units/colors/utils";
@import "../../units/typography/utils";

.personal-area{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: $typography-text-medium;
  line-height: 30px;
  color:$color-text-primary;
  display:flex;
  flex-wrap: wrap;

  @include tablet{
    margin-left: auto;
    display: flex;
  }
}

.personal-area--footer{
  .personal-area__profile{
    color:$color-background-primary;
  }

  .personal-area__button{
    color:$color-background-primary;
  }

  .personal-area__img{
    path{
      fill:$color-text-third;
    }
  }
}

.personal-area__profile{
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile{
    flex-basis:100%;
    margin: 10px 0 15px 0;
  }

  @include tablet{
    margin-right: 30px;
    min-width:193px;
    justify-content: flex-start;
  }

  @include desktop{
    margin-right: auto;
  }
}

.personal-area__img{
  display: inline-block;
  margin-right: 10px;

}


.personal-area__name{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.personal-area__button{
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  cursor: pointer;
  padding:0;
  border:none;
  background-color: transparent;
  outline: none;
}

.personal-area__button--session{
  align-self: stretch;
  color:$color-text-primary;
}

.personal-area__button--session:hover{
  opacity: 0.6;
}

.personal-area__button--session:active{
  opacity: 0.3;
}



.personal-area__button--posibilities{
  @include mobile{
    flex-basis: 50%;
  }

  @include tablet{
    margin-right: 20px;
  }

  @include desktop{
    margin-right: 40px;
  }

}

.personal-area__button--posibilities:last-child{
  @include tablet{
    margin-right: 0;
  }
}

.personal-area__button:hover{
  opacity: 0.6;
}

.personal-area__button:active{
  opacity: 0.3;
}
