@import "../../units/colors/utils";
@import "../../units/typography/utils";

.main-button{

  position: relative;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: $typography-text-xl;
  border:none;
  outline: none;
  text-transform: uppercase;
  line-height: 24px;
  background-color: transparent;
  color: $color-text-primary;
}

.main-button:hover{
  color: $color-text-primary;
}
