$typography-large-number:192px;
$typography-h1:47px;
$typography-h2:36px;
$typography-text-xl:18px;
$typography-text-large:16px;
$typography-text-medium:15px;
$typography-text-small:14px;
$typography-text-xs:13px;