$color-background-primary:#FFF;
$color-background-secondary:#f7e296;
$color-background-third:#e5e5e5;
$color-text-primary:#000;
$color-text-secondary:#464646;
$color-text-third:#ffc600;
$color-background-socials-icon:#7e7e7e;
$color-button-primary:#f0c52e;
$color-button-additions-click:#f7e184;
$color-background-product:#efefef;
$color-background-filter:#dcdcdc;
$color-range-active:#91c92f;
$color-filter-arrow-inactive:#c3c2c2;
$color-background-login-form:#f2f2f2;
$color-background-login-form-hover:#ebebeb;
$color-background-login-form-invalid:#f6dada;