@import "vendors/normalize";
@import "vendors/bulma/sass/utilities/_all.sass";
@import "vendors/bulma/sass/base/_all.sass";
@import "vendors/bulma/sass/elements/container.sass";

@import "units/typography/output";
@import "units/base/output";
@import "units/helpers/output";
@import "components/header/output";
@import "elements/search-input/output";
@import "components/personal-area/output";
@import "components/main-products/output";
@import "elements/main-button/output";


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.display-none{
  display: none;
}

.mr-20{
  margin-right: 20px;
}

@include tablet{

  .header--large-height{
    padding-bottom:163px;
  }
  .main-container{
    max-width: 1160px;
    margin: 0 auto;
  }

  .tablet-mr-60{
    margin-right: 60px;
  }

  .tablet-mr-76{
    margin-right: 76px;
  }
}

@include mobile{
  .mob-mt-10{
    margin-top: 10px;
  }

  .mob-display-none{
    display: none;
  }
}